{
pid: "{{ ad['pid'] }}",
width: "{{ ad['width'] }}",
height: "{{ ad['height'] }}",
impid: "{{ ad['impid'] }}",
advid: "{{ ad['advid'] }}",
unid: "{{ ad['unid'] }}",
plid: "{{ ad['pid'] }}",
gpid: "{{ ad['gpid'] }}",
cid: "{{ ad['cid'] }}",
arid: "{{ ad['arid'] }}",
ctype: "{{ ad['ctype'] }}",
xcurl: "{{ ad['xcurl'] }}",
of: "1",
tview: "{{ ad['tview'] }}",
mtls: [{ 
    p0: "{{ ad['mtls'][0]['p0'] }}",
    p1: "{{ ad['mtls'][0]['p1'] }}",
    p2: "{{ ad['mtls'][0]['p2'] }}",
    p3: "{{ ad['mtls'][0]['p3'] }}",
    P4: "{{ ad['mtls'][0]['p4'] }}",
    p5: "",
    p6: "",
    p7: "",
    p8: "",
    p9: ""
}]
}

